{
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
      "ecmaVersion": 7,
      "sourceType": "module",
      "ecmaFeatures": {
          "jsx": true,
      }
  },
  "plugins": [
    "react"
  ],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "15.0.2"
    }
  },
  "semi": ["error", "always"]
}
