/*.full-width {
  max-width: 1400px;
}*/

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.footer {
  background-color: #def0fc;
  padding: 1rem 4rem;
  text-align: center;
  color: #0a0a0a;
}
.footer i {
  font-size: 100px;
}

.footer h4 {
  color: #0a0a0a;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 2.5rem;
  margin-bottom: 10px;
}
.footer p, .footer a {
  font-weight: 300;
  font-size: .8em;
  color: #0a0a0a;
}

@media only screen and (min-width: 40.063em) {
  .footer .columns:nth-child(n+2) {
    border-left: 1px solid #b3b3b3;
    min-height: 280px;
  }
}
.footer-links {
  list-style-type: none;
}
.footer-links li {
  margin-top: .5em;
}

i.tiny  { font-size: 1.5rem; }
i.small  { font-size: 2rem; }
i.medium  { font-size: 5rem; }
i.large  { font-size: 10rem; }

.top-bar {
  padding: 0.5rem;
  box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  top: 0;
  position:fixed;
  width:100%;
  z-index: 100;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);*/
}

.top-bar ul {
  background-color: #fff;
}
