<!doctype html>
<html>
<head>
  {% block head %}
  <!-- CSS AND ICONS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
  <link href="{{ url_for('static', filename='icons/foundation-icons.css' )}}" rel='stylesheet' type='text/css' />
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- TITLE  -->
  <title>{% block title %}{% endblock %} | tylfin</title>
  {% endblock %}
</head>
<body>

  <div class="loader">
    <div class="spinner">
      <div data-pace-options='{ "ajax": true, "minTime": 1500 }' class="pace pace-inactive">
  </div>
</div>

<!-- TOP BAR START  -->
  <div class="center-logo show-for-medium">
      <i style="pointer-events: auto;" class="medium fi-social-github"></i>
  </div>

  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/blog-posts">Blog</a></li>
        <li><a href="/resume">Resume</a></li>
      </ul>
    </div>
    <div class="top-bar-right show-for-medium">
      <ul class="menu">
        <li><a href="https://github.com/tylfin" target="_blank"><i class="fi-social-github small"></i></a></li>
        <li><a href="https://twitter.com/tylfin" target="_blank"><i class="fi-social-twitter small"></i></a></li>
        <li><a href="https://www.linkedin.com/in/tyler-finethy-37902195" target="_blank"><i class="fi-social-linkedin small"></i></a></li>
      </ul>
    </div>
  </div>

<!-- TOP BAR END -->

<!-- VIDEO START -->

  <div class="show-for-medium">
    <div class="front-banner callout large primary">
      <video width="" height="" style="min-width: 100%;min-height: 100%;width: auto;position: absolute;" class="media-player" poster="{{ url_for('static', filename='img/banner.jpg' )}}" autoplay="" loop="" src="{{ url_for('static', filename='video/banner.mp4' )}}">
      </video>
    </div>
  </div>
  <div class="show-for-small-only" style="padding-top: 5em;"></div>

<!-- VIDEO END -->

<!-- CONTENT START -->

  <div id="content">{% block content %}{% endblock %}</div>

<!-- CONTENT END -->

  <hr />

<!-- FOOTER START -->

  <div id="footer">
    {% block footer %}
    <footer class="footer">
      <div class="row full-width">
        <div class="small-12 medium-3 large-4 columns">
          <i class="fi-laptop"></i>
          <p>Software Engineer stuff</p>
        </div>
        <div class="small-12 medium-3 large-4 columns">
          <i class="fi-star"></i>
          <p>Aboot me</p>
        </div>
        <div class="small-12 medium-3 large-4 columns">
          <h4>Social Media</h4>
          <ul class="footer-links">
            <li><a href="https://github.com/tylfin" target="_blank"><i class="fi-social-github small-plus"></i></a></li>
            <li><a href="https://twitter.com/tylfin" target="_blank"><i class="fi-social-twitter small-plus"></i></a></li>
            <li><a href="https://www.linkedin.com/in/tyler-finethy-37902195" target="_blank"><i class="fi-social-linkedin small-plus"></i></a></li>
          </ul>
        </div>
      </div>
    </footer>
    {% endblock %}
  </div>
</body>

<!-- FOOTER END -->

<!-- SCRIPTS START  -->
<script type='text/javascript' src="{{ url_for('static', filename='scripts/vendor/jquery.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='scripts/vendor/foundation.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='scripts/app.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='scripts/vendor/pace.min.js') }}"></script>
<!--
inline script for video loop workaround (chrome browser)
http://stackoverflow.com/questions/8088364/html5-video-will-not-loop
-->
<script>
  $('video').on('ended', function () {
    this.load();
    this.play();
  });
</script>
<!-- SCRIPTS END -->
</html>
