<!doctype html>
<html>
<head>
  {% block head %}
  <!-- CSS AND ICONS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
  <link href="{{ url_for('static', filename='icons/foundation-icons.css' )}}" rel='stylesheet' type='text/css' />
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- TITLE  -->
  <title>{% block title %}{% endblock %} | tylfin</title>
  {% endblock %}
</head>
<body>

<!-- TOP BAR START  -->
  <div class="center-logo show-for-medium">
      <i style="pointer-events: auto;" class="medium fi-social-github"></i>
  </div>

  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/blog-posts">Blog</a></li>
        <li><a href="/resume">Resume</a></li>
      </ul>
    </div>
    <div class="top-bar-right show-for-medium">
      <ul class="menu">
        <li><a href="https://github.com/tylfin" target="_blank"><i class="fi-social-github tiny"></i></a></li>
        <li><a href="https://twitter.com/tylfin" target="_blank"><i class="fi-social-twitter tiny"></i></a></li>
        <li><a href="https://www.linkedin.com/in/tyler-finethy-37902195" target="_blank"><i class="fi-social-linkedin tiny"></i></a></li>
      </ul>
    </div>
  </div>

  <div class="show-for-medium">
    <div class="front-banner callout large primary">
      <video style="min-width:100%; min-height:100%;" width="100%" poster="{{ url_for('static', filename='img/banner.jpg' )}}" autoplay="autoplay" loop>
        <source style="padding-top: 20px;" src="{{ url_for('static', filename='video/banner.mp4' )}}" type="video/mp4" />
      </video>
    </div>
  </div>
  <div class="show-for-small-only" style="padding-top: 5em;"></div>
  <div id="content">{% block content %}{% endblock %}</div>
  <hr />
  <div id="footer">
    {% block footer %}
    <!-- Footer -->
    <footer class="footer">
      <div class="row full-width">
        <div class="small-12 medium-3 large-4 columns">
          <i class="fi-laptop"></i>
          <p>Software Engineer stuff</p>
        </div>
        <div class="small-12 medium-3 large-4 columns">
          <i class="fi-star"></i>
          <p>Aboot me</p>
        </div>
        <div class="small-12 medium-3 large-4 columns">
          <h4>Social Media</h4>
          <ul class="footer-links">
            <li><a href="https://github.com/tylfin" target="_blank"><i class="fi-social-github small-plus"></i></a></li>
            <li><a href="https://twitter.com/tylfin" target="_blank"><i class="fi-social-twitter small-plus"></i></a></li>
            <li><a href="https://www.linkedin.com/in/tyler-finethy-37902195" target="_blank"><i class="fi-social-linkedin small-plus"></i></a></li>
          </ul>
        </div>
      </div>
    </footer>
    {% endblock %}
  </div>
</body>
<link href="{{ url_for('static', filename='scripts/vendor/foundation.js') }}">
<link href="{{ url_for('static', filename='scripts/app.js') }}">
</html>
